/* Basics here */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(109, 72, 122);
}

/* Header and Nav Bar */
header, nav {
  background-color: #5d3648;
  font-family: 'Times New Roman', 'Comic Sans', 'calibri';
}

nav {
  overflow: hidden;
  text-align: center;
  font-size: 35px;
  padding-bottom: 25px;
  margin-top: 0;
}

nav li {
  display: inline-block;
}

nav a {
  color: #ebcccc;
  text-decoration: none;
  font-size: 35px;
  text-decoration: underline 2px solid #ebcccc;
}

.moon-container img {
  width: 100%;
  height: auto;
}

/* Headers for Main Body */
h2 {
  font-size: 50px;
  color: #000;
  margin-right: 100px;
}

.header-block, .container, .container-footer {
  max-width: 80%;
  padding: 20px;
}

.container-footer, .container {
  max-width: 100%;
}

.content {
  display: flex;
  align-items: center;
  margin: 30px 100px 10px;
  padding-top: 7%;
}

/* About Me Section */
.blocktext {
  font-size: 30px;
  color: #000;
  border: 5px solid rgb(73, 36, 73);
  padding: 10px;;
}

/* Images and Container for Work Section */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.grid-item {
  flex: 1 1 48%;
  position: relative;
  max-width: 48%;
  transition: transform 0.3s;
}

.grid-item img {
  width: 100%;
  object-fit: cover;
  border: 5px solid rgb(73, 36, 73);
  transition: transform 0.3s;
  z-index: 2;
}

.grid-item:hover img {
  transform: scale(1.1);
}

.top-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.grid-item:hover .top-image-overlay {
  opacity: 1;
}

.top-image-title, .top-image-description {
  color: #fff;
}

.top-image-title {
  font-size: 2em;
  font-weight: bold;
}

.top-image-description {
  font-size: 1.25em;
  margin-top: 0.25em;
}

/* Contact Me Section */
.contact-links {
  display: flex;
  justify-content: center;
  margin: 20px 70px 25px;
}

.contact-links a {
  color: #000;
  font-size: 35px;
  margin: 0 50px 0 20px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  text-decoration: none;
}

.contact-links a:hover {
  background-color: #000;
  color: #fff;
}

/* Footer */
footer {
  text-align: left;
  background-color: #5d3648;
}

.h2-footer{
  font-size: 25px
}

/* Responsive Styles */
@media (max-width: 767px) {
  h1 {
    font-size: 5vw;
  }

  nav li {
    margin: 2vw 2vw 0 4vw;
  }

  .blocktext {
    font-size: 3vw;
  }

  .container {
    max-width: 90%;
  }

  .grid-item {
    width: 100%;
  }

  .top-image-overlay {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 4vw;
  }

  nav li {
    margin: 5vw 3vw 0 6vw;
  }

  .avatar, .container {
    float: none;
    text-align: center;
    max-width: 85%;
  }

  .grid-item {
    width: 100%;
  }

  .top-image-overlay {
    display: none;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 4.5vw;
  }

  nav li {
    margin: 2vw 5vw 0 8vw;
  }
}
