/* Basics here */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(109, 72, 122);
}

/* Header and Nav Bar */
header {
  text-align: right;
  padding: 20px;
  background-color: #5d3648;
}

h1 {
  font-size: 350%;
  text-decoration: underline 5px Solid #ebcccc;
  font-family: 'Times New Roman', 'Comic Sans','calibri';
  color: #ebcccc;
}

nav {
  padding-top: 15px;
  margin-right: 20px;
  background-color: #5d3648;
  overflow: hidden;
  text-align: left;
  font-size: 35px;
}

nav li {
  display: inline-block;
  text-decoration: underline 5px Solid #ebcccc;
  font-family: 'Times New Roman', 'Comic Sans','calibri';
  margin-right: 50px;
  margin-top: 74px;
  margin-left: 80px;
}

nav a {
  color: #ebcccc;
  text-decoration: none;
  font-size: 49px;
}

.avatar {
  float: right;
}

.moon-container {
  width: 100%;
}

.moon-container img {
  width: 100%;
  height: auto;
}


/* Headers for Main Body */
h2 {
  font-size: 50px;
  font-family: 'Times New Roman', 'Comic Sans','calibri';
  color: #000000;
  margin-right: 100px;
}

.header-block {
  flex: 0 0 50%;
  padding: 20px;
  box-sizing: border-box;
}

.content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 7%;
}

section.content {
  margin-top: 30px;
}


/* About Me Section */
.blocktext {
  font-size: 35px;
  color: #000000;
  margin: 0;
  border: 5px Solid rgb(73, 36, 73);
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 7%;
  margin-right: 10%;
}

.container {
max-width: 80%;
margin: 0 auto;
}


/* Images and Container for Work Section */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-item {
  position: relative;
  width: 50%;
}

.top-image {
  position: relative;
  width: 100%;
  flex-basis: 100%;
}

.grid-item .top-image {
  width: 100%;
  min-height: 380px;
}

/* trying to label */
.top-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1; 
}

.top-image-overlay:hover img {
  opacity: 1;
}

.top-image-title {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff
}

.top-image-description {
  font-size: 1.25em;
  margin-top: 0.25em;
}

.grid-item img {
  width: 99%;
  height: 100px;
  object-fit: cover;
  transition: transform 0.3s; 
  margin-left: 100px;/* You changed the margin left and it stretched */
  border: 5px Solid rgb(73, 36, 73);
  position: relative;
  z-index: 2;
}

.grid-item:hover img {
  transform: scale(1.1);
}

/* Contact Me Section */
.contact-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 25px;
  margin-left: 70px;
}

.contact-links a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-size: 35px;
  margin-right: 20px;
  margin-left: 50px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.contact-links a:hover {
  background-color: #000000;
  color: #ffffff;
}


/* Footer */
.container-footer, h2 {
  max-width: 100%;
  margin: 0;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #5d3648;
  font-size: 30px;
}

@media (max-width: 767px) {
  /* Styles for small screens (e.g., smartphones) */
  h1 {
    font-size: 5vw;
  }
  
  nav li {
    margin-right: 2vw;
    margin-left: 4vw;
    margin-top: 2vw;
  }
  
  .avatar {
    float: none;
    text-align: center;
    margin-bottom: 2vw;
  }
  
  .blocktext {
    font-size: 3vw;
  }
  
  .container {
    max-width: 90%;
  }
  
  .grid-item {
    width: 100%;
  }
  
  .top-image-overlay {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for medium screens (e.g., tablets) */
  h1 {
    font-size: 4vw;
  }
  
  nav li {
    margin-right: 3vw;
    margin-left: 6vw;
    margin-top: 5vw;
  }
  
  .avatar {
    float: none;
    text-align: center;
    margin-bottom: 2vw;
  }
  
  .container {
    max-width: 85%;
  }
  
  .grid-item {
    width: 100%;
  }
  
  .top-image-overlay {
    display: none;
  }
}

@media (min-width: 992px) {
  /* Styles for large screens (e.g., desktops) */
  h1 {
    font-size: 4.5vw;
  }
  
  nav li {
    margin-right: 5vw;
    margin-left: 8vw;
    margin-top: 7.4vw;
  }
}